name: torch-haskell-CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Stack
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
          stack-version: "latest"

      - name: Cache Stack
        uses: actions/cache@v4
        with:
          path: |
            ~/.stack
            .stack-work
          key: ${{ runner.os }}-stack-${{ hashFiles('stack.yaml', 'stack.yaml.lock', '**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-

      - name: Set up HLint
        uses: haskell-actions/hlint-setup@v2

      - name: Lint (hlint)
        uses: haskell-actions/hlint-run@v2
        with:
          path: .
          fail-on: warning

      - name: Format check (Fourmolu)
        uses: haskell-actions/run-fourmolu@v9
        with:
          version: "0.19.0.0"

      - name: Build
        run: stack build --test --no-run-tests --ghc-options="-Wall -Werror"

      - name: Test
        run: stack test
